<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mod.loan.mapper.AppArticleMapper">
  <resultMap id="BaseResultMap" type="com.mod.loan.model.AppArticle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="article_tag" jdbcType="VARCHAR" property="articleTag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="article_content" jdbcType="LONGVARCHAR" property="articleContent" />
    <result column="merchant" jdbcType="VARCHAR" property="merchant" />
  </resultMap>
</mapper>