<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mod.loan.mapper.MarketChannelMapper">
  <resultMap id="BaseResultMap" type="com.mod.loan.model.MarketChannel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="channel_name" jdbcType="VARCHAR" property="channelName" />
    <result column="channel_idx" jdbcType="INTEGER" property="channelIdx" />
    <result column="channel_status" jdbcType="TINYINT" property="channelStatus" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <select id="selectMarketChannelList" resultMap="BaseResultMap">
  	   select id,channel_name from tb_market_channel where channel_status=1 order by channel_idx desc
  </select>
</mapper>