<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mod.loan.mapper.MarketFlowMapper">
  <resultMap id="BaseResultMap" type="com.mod.loan.model.MarketFlow">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="flow_date" jdbcType="DATE" property="flowDate" />
    <result column="flow_uv" jdbcType="BIGINT" property="flowUv" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <update id="updateMarketFlow">
  update tb_market_flow set flow_uv=flow_uv+1 where product_id=#{product_id} and flow_date=#{flow_date}
  </update>
  
  <insert id="insertMarketFlowNotExit">
 insert into tb_market_flow(product_id,flow_date,flow_uv) select #{product_id},#{flow_date},1 from DUAL where not EXISTS (select id from tb_market_flow  where product_id=#{product_id} and flow_date=#{flow_date})
  </insert>
</mapper>