<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mod.loan.mapper.MerchantConfigMapper">
  <resultMap id="BaseResultMap" type="com.mod.loan.model.MerchantConfig">

    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="merchant" jdbcType="VARCHAR" property="merchant" />
    <result column="mx_risk_token" jdbcType="VARCHAR" property="mxRiskToken" />
    <result column="mx_risk_renew_token" jdbcType="VARCHAR" property="mxRiskRenewToken" />
    <result column="h5_url" jdbcType="VARCHAR" property="h5Url" />
    <result column="overdue_blacklist_day" jdbcType="TINYINT" property="overdueBlacklistDay" />
    <result column="reject_keyword" jdbcType="VARCHAR" property="rejectKeyword" />
    <result column="ident_invalid_day" jdbcType="TINYINT" property="identInvalidDay" />
    <result column="auto_apply_order" jdbcType="TINYINT" property="autoApplyOrder" />
    <result column="service_phone" jdbcType="VARCHAR" property="servicePhone" />
    <result column="default_origin_status" jdbcType="TINYINT" property="defaultOriginStatus" />
    <result column="max_overdue_fee_rate" jdbcType="TINYINT" property="maxOverdueFeeRate" />
    <result column="promote_quota_type" jdbcType="TINYINT" property="promoteQuotaType" />
    <result column="old_customer_risk" jdbcType="TINYINT" property="oldCustomerRisk" />
    <result column="create_time" jdbcType="TINYINT" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>

  <select id="selectByMerchant" resultMap="BaseResultMap">
    select * from tb_merchant_config where merchant = #{merchant}
  </select>

</mapper>